<head>
    <title>Loading...</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

</body>


<template name="mainLayout">

    <div id="main-loader"></div>

    <!--<div id="system-process">-->
        <!--<div class="wrap">-->
            <!--<img src="/img/loading.gif" alt=""/>-->
        <!--</div>-->
    <!--</div>-->

    <div id="go-up">
        ^<br/>
        В<br/>
        В<br/>
        Е<br/>
        Р<br/>
        Х<br/>
    </div>

    <div id="perspective" class="perspective">
        <div class="main-wrap">
            <div class="wrapper">
                {{>yield}}
            </div>
        </div>
        <div id="main-menu">

            <div class="logo">
                <p>M I C R O C O S M</p>
                <p>the real social network</p>
            </div>
            
            <div class="avatar">
                <img src="{{currentUser.profile.avatar}}" alt=""/>
            </div>

            <p class="first-name">{{currentUser.profile.firstName}}</p>
            <p class="last-name">{{currentUser.profile.secondName}}</p>
            <a href="#" class="logout">выйти</a>

            <hr/>

            <nav>
                <ul>
                    <li><a href="/cosmos"><i class="fa fa-globe"></i> Общение</a></li>
                    <li><a href="/people"><i class="fa fa-users"></i> Люди</a></li>
                    <li><a href="/news"><i class="fa fa-calendar"></i> В жизни</a></li>
                    <li><a href="/settings"><i class="fa fa-cogs"></i> Настройки</a></li>
                </ul>
            </nav>

            <hr/>

            <h4>Новости</h4>

        </div>
        <div id="notifications-cont">

            <h4><i class="fa fa-bell"></i> НОВОСТИ</h4>
            <hr/>

        </div>
    </div>

</template>


<template name="registrationLayout">
    {{>yield}}
</template>







