<template name="messages">

    <div class="modal-page messages _opened">

        <div class="close-it"><i class="fa fa-times"></i></div>

        <div class="modal-insert">

            <div class="heading"><i class="fa fa-envelope"></i> Lazytalk</div>

            <div class="body">
                <aside>
                    <div class="search">
                        <input id="messagesSearch" type="text" placeholder="поиск..."/>
                        <button id="newMessage"><i class="fa fa-edit"></i></button>
                    </div>
                    <ul>
                        <li class="_active">
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/>
                            </div>
                            <div>
                                <h5>Альберт Константинопольский</h5>
                                <p>"Привет братишка, давно не виделись, хотел бы тебя пригласить на концерт крутой группы"</p>
                                <p><span>13:24</span> <span>сегодня</span></p>
                            </div>
                        </li>
                    </ul>
                    <div class="filters">
                        <div class="button-group">
                            <button id="all-time-messages" class="_active">Все время</button>
                            <button id="daily-messages">Сегодня</button>
                            <button id="weekly-messages">Неделя</button>
                        </div>
                    </div>
                </aside>
                <div>

                    <div id="messages-top">
                        <a href="#">Альберт Константинопольский<sup> <i class="fa fa-circle"></i></sup></a>
                        <button><span>rec <i class="fa fa-circle"></i></span> аудио</button>
                    </div>
                    <div id="messages-cont">
                        <div class="message">
                            <div class="avatar"><img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/></div>
                            <p class="message-date">22.04.2014  23:33</p>
                            <div class="body">
                                Да ты прикалываешься, нельзя просто так взять и запретить ляхам экспорт яблок, это же ляхи, хз что от них ожидать, может все начнут массово обжираться своими яблоками и у всех будет большой общенациональный овитаминоз, а крайней все равно оставят
                            </div>
                        </div>
                        <div class="message yours">
                            <div class="avatar"><img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/></div>
                            <p class="message-date">22.04.2014  23:33</p>
                            <div class="body">
                                Да ты прикалываешься, нельзя просто так взять и запретить ляхам экспорт яблок, это же ляхи, хз что от них ожидать, может все начнут массово обжираться своими яблоками и у всех будет большой общенациональный овитаминоз
                            </div>
                        </div>
                        <div class="message">
                            <div class="avatar"><img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/></div>
                            <p class="message-date">22.04.2014  23:33</p>
                            <div class="body">
                                Да ты прикалываешься, нельзя просто так взять и запретить ляхам экспорт
                            </div>
                        </div>
                        <div class="message">
                            <div class="avatar"><img src="http://graph.facebook.com/1276327615/picture/?type=large" alt="avatar"/></div>
                            <p class="message-date">22.04.2014  23:33</p>
                            <div class="body">
                                Ты прав..
                            </div>
                        </div>
                    </div>
                    <div id="new-message">

                        <div id="message-input">
                            <button id="add-smile"><i class="fa fa-smile-o"></i></button>
                            <button id="add-gif">gif</button>
                            <button id="add-more"><i class="fa fa-caret-down"></i></button>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>

</template>